#page {
    position: relative;
}
#menuL {
    position: absolute;
    top: 80px;
    left: 5px;
}
#content {
    position: relative;
    top: 72px;
    width: 100%;
    background-color: #000000;
}
#footer {
    position: relative;
    top: 50px;
    width: 100%;
    background-color: #000000;
}

.img_banner{
    width: 100%;
    height: 70px;
    font-family: 'Arial',arial;
    color: #FFFFFF;
    font-size: 10px;
    left: 5px;
    position: absolute;
    border-radius: 4px;
}

.infoUsr {
    float: left;
    font-size: 10px;
}
.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
}
.ui-datagrid-content {
    border: none;
} 

.styleGreen {    
    background-color: #009900 !important;
    font-family: Arial,Helvetica,sans-serif !important;
}

.boton_naranja{
    -webkit-box-shadow: 5px 5px 5px #999;
    color: white; 
    font-weight: bold !important; 
    font-size: 14px !important; 
    width:70px; 
    height: 17px;
    background-color: #F37021;
    border: #F37021 2px solid;
    padding-right:5px;
    padding-left:5px;
    padding-top: 4px;
    padding-bottom: 0px;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px;
    display:inline-block;
    font-family:'Arial',arial !important;
}

.social_f {
    color: #FFFFFF;font-size: 12px;
}
.menu{
    border: 1px solid #1E3D6B;
    width: 222px;
}
.submenu{
    background: #1E3D6B;   
    color: #FFFFFF;
    font-size: 14px;
    border: #1E3D6B 2px solid;
}
.ui-panel-titlebar{
    background: #1E3D6B;
    font-size: 14px;
    border: #1E3D6B 2px solid;
}
.no-border tr, .no-border td{
    border-style: hidden;
    text-align: center;
    background: none !important;
    border: none !important;
}
.old{
    background-color:  #f5cba7  !important; 
}

.label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.label .req {
  margin: 2px;
  color: #1ab188;
}

.label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.label.active .req {
  opacity: 0;
}

.label.highlight {
  color: #ffffff;
}